@charset "UTF-8";
/* Variables and components */
/* grayscales */
/* disambiguation */
/* Themes 		*/
/* Sizing */
/* Put ellipsis into text that overflows a box */
/* 
    Notes: 
    - You cannot apply text-overflow to inline elements. 
    - Some max-width is required for text-overflow: ellipsis.
*/
/***************************** Components ***************************/
/***************************** Utility Classes ******************************/
.right {
  float: right; }

.left {
  float: left; }

.centered {
  text-align: center; }

/* Native styles and resets/overrides */
/* Styling for native HTML elements */
html, body {
  box-sizing: border-box; }

div {
  box-sizing: inherit; }

body {
  color: #ADFF2F;
  background-color: #1F1F1F; }

/* Core styles */
.schedule {
  display: flex;
  flex-direction: columns;
  color: #116611; }

.header {
  font: 14px arial bold;
  text-align: center; }

.schedule .header {
  height: 30px; }

.timeslots {
  width: 60px;
  background-color: #ADFF2F; }

.timeslot {
  padding: 8px;
  border: 1px solid #FFFF00;
  font: bold 12px arial;
  text-align: center;
  padding-top: 8px; }

.lineups {
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  background-color: #ADFF2F; }

.lineup .header {
  padding: 6px;
  border: 1px solid #FFFF00;
  font-weight: bold; }

.lineup {
  min-width: 100px;
  max-width: 200px;
  width: 200px; }

.lineup .event {
  width: 100%;
  padding: 6px;
  border: 1px solid #ADFF2F;
  background-color: #FFFF00; }

.hour {
  height: 60px; }

.halfhour {
  height: 30px; }

.quarterhour {
  height: 15px; }

.threequarterhour {
  height: 45px; }

/*
    “Small UI” ( list-style rendering seen in the “small UI” invision design, with width stretched edge-to-edge )
    - Any width smaller than 768px, regardless of height and orientation (supports small landscape)
    - Any height smaller than 480px (as Large/Medium does not render well < 480px high)
*/
/*
    “Medium UI” ( Table-style rendering as seen in “large UI” invision design, but with reduced margins as shown on some pages in the medium UI, and some changes in how buttons and other elements stack vertically)
    - Height greater than 480px AND width between 768px and 1024px
*/
/*
    “Large UI” (Large UI invision design)
    - Height greater than 480px AND width greater than 1024px
*/
/* Large and Medium, Any Orientation  */
/* Small Portrait ONLY */
/* Small, Landscape ONLY */
