
#content {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule {
	display: 			flex;
	flex-direction: 	columns;
	color: 				$feature-text;
}

.header {
	font: bold 14px arial;
	text-align: center;
}

.schedule .header {
	height: 30px;
}

.event-name {
	font-weight: bold;
}
span.event-name {
	display: block;
}
.event-desc {
	font-size: $font-size-small;
}

.timeslots {
	width: 60px;
	background-color: #ADFF2F;
}

.timeslot {
	max-height: $half-hour;
	padding: 8px;
	border: 1px solid #FFFF00;
	font: bold 12px arial;
	text-align: center;		
	padding-top: 8px;
	
}

.timeslot.next-day {
	background-color: rgb(115, 173, 28);
}

.timeslot.hour {
	max-height: $hour;
}

.lineups {
	max-width: 100%;
	display: flex;
	overflow-x: auto;
	background-color: #ADFF2F;
}

.lineup .header { 
	padding: 6px;
	border: 1px solid #FFFF00;
	font-weight: bold;	
}

.lineup {
	min-width: 200px;
	max-width: 300px;
	/* width: 200px; */
}

.lineup .event {
	width: 100%;
	
	padding: 6px;
	
	border: 			1px solid #ADFF2F;
	background-color:	#FFFF00;

	font-family: Arial, Helvetica, sans-serif;
}

.lineup .event.empty {
	background-color:	#999900;
}

.hour {
	height: 		$hour;
}

.halfhour {
	height: 		$half-hour;
}

.quarterhour {
	height: 		$quarter-hour;
}

.threequarterhour {
	height: 		$quarter-hour * 3;
}

@for $i from 1 through 8 {
.hours#{$i} { height: #{$hour * $i}; }
}

@for $i from 0 through 4 {
.hours#{$i}-30 { height: #{($hour * $i) + $half-hour}; }
}