/* Styling for native HTML elements */
html, body {
	height: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

body {
	color: 				$site-text; 
	background-color: 	$site-background;
	margin:				0;
	padding: 			0;
}

p.header {
	font-size: 28px;
}

div {
	box-sizing: inherit;
}

