/* Styling for native HTML elements */
html, body {
	box-sizing: border-box;
}

body {
	color: 				$site-text; 
	background-color: 	$site-background;
}

p.header {
	font-size: 28px;
}

div {
	box-sizing: inherit;
}

